@model Centros.Model.Organizacion

@{
    ViewBag.Title = "Creando";
}

<h2>Creando nuevo</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Datos de la organización</legend>

        @Html.EditorForModel()

        <div>
            <input type="submit" value="Grabar" />
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
