@model Centros.Model.Organizacion

@{
    ViewBag.Title = "Detalles de " + Model.ToString();
}

<h2>Detalles</h2>

<fieldset>
    <legend>Datos de la organización</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
