@model IEnumerable<Centros.Model.Entity>
@using Tandil.MetadataBuilder.Metadata
<table>
    <tr>
        <th>Descripción</th>
        <th>Comandos</th>
    </tr>
	@foreach (var item in Model) {
	var md = (GenericsModelMetadata)ViewData.ModelMetadata;
	<tr>
		<td>@md.InstanceDescription(item)</td>
		<td item-id="@item.Id">
			<a class="linkEdit" href="#edit">Editar</a> | 
			<a class="linkDetails" href="#details">Detalles</a> | 
			<a class="linkDelete" href="#delete">Borrar</a>
		</td>
	</tr>
	}
</table>
