@model Centros.Model.Centro

@{
    ViewBag.Title = "Detalles de " + Model.ToString();
}

<h2>Detalles</h2>

<fieldset>
    <legend>Datos del centro</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = ((Centros.Model.Entity)Model).Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
